@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.containers {
    display: flex;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7FAFC;
    width: 50%;
    height: 100vh;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container2 a {
    color: #2B6CB0;
    text-decoration: none;
}

.container2 a:hover {
    color: #04C45C;
}

.titulo {
    font-family: 'Merriweather';
    font-size: 15px;
    align-items: center;

}

.formulario {
    font-family: 'Lato';
}

.input {
    padding-bottom: 1vw;
}

.input label {
    display: flex;

}

.input input {
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 349px;
    height: 49px;
}

input::placeholder {
    color: #000;
    padding: 2vh;
}

.checkbox {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-family: 'Lato';
}

.btn button {
    width: 353px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
}

.btnverde,
.btnpreto {
    margin: 2vh;
}

.btnverde button {
    background: #04C45C;
}

.btnverde button:hover {
    background: #2B6CB0;
}

.btnpreto button {
    background: #1A202C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.btnpreto button:hover {
    background: #fff;
    color: black;
    border: 1px solid #04C45C;
}


.rodape {
    font-family: 'Lato';
    display: flex;
}
